<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/doctor.css' />
  <link rel='stylesheet' href='/stylesheets/rtc.css' />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://192.168.1.66:3001/socket.io/socket.io.js"></script>
</head>

<body>


  <div class="app-container" id="mainCotainer">
    <div class="app-main">
      <p id="doctorName"></p>
      <div class="caselist-container" id="caselistContainer">
      </div>
    </div>
  </div>

  <div class="app-container" id="patientContainer">
    <div class="app-main">
      <div class="video-call-wrapper" id="videos">

      </div>
      <div class="video-call-actions">
        <button class="video-action-button main" id="btnMic">
          <i class='bx bxs-microphone'></i>
        </button>
        <button class="video-action-button main" id="btnCamera">
          <i class='bx bxs-camera'></i>
        </button>
        <button class="video-action-button endcall" id="btnEnd">
          <i class='bx bxs-phone'></i> Leave
        </button>
        <button class="video-action-button medical" id="btnMedical">
          <i class='bx bxs-capsule'></i>
        </button>
      </div>
    </div>
    <!-- Right Side -->
    <div class="right-side">
      <button class="btn-close-right"><i class='bx bx-x'></i></button>
      <div class="chat-container">
        <div class="chat-header">
          <span>Chat messages</span>
        </div>
        <div class="chat-area" id="chatArea">

        </div>
        <div class="chat-typing-area-wrapper">
          <div class="chat-typing-area">
            <input type="text" placeholder="Type your message..." class="chat-input" id="chatInput">
            <button class="send-button" id="chatSend">
              <i class='bx bx-send'></i>
            </button>
          </div>
        </div>
      </div>

    </div>

    <button class="expand-btn">
      <i class='bx bxs-chat'></i>
    </button>


    <div class="modal">
      <div class="modal-content">
        <div class="filter-container">
          <a onclick="fetchData()" class="closebtn" id="refreshData"><i class='bx bx-refresh'></i></a>
          <div class="filter-sidenav" id="filter-side"></div>
        </div>
        <div class="meas-container"></div>
      </div>
    </div>

  </div>
  </div>

  </div>

  <script src="./javascripts/doctor.js"></script>
  <script src="./javascripts/script.js"></script>
</body>

</html>